html {
  font-size: 16px;
}

main {
  font-family: "Raleway";
  background-color: #7E7E7E;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #47B089;
  font-family: "Poppins";
  min-height: 7vh;
  width: 100%;
  padding: .5em 10%;
  font-size: 1.25em;
}

nav a {
  color: #FFF !important;
  font-size: 1.25em;
}

nav a:hover {
  color: #FFF;
}

.base-container {
  padding: 0 10%;
}

.home-container {
  height: 93vh;
  padding-top: 5em;
  color: #FFF;
}

.home-container h1 {
  font-weight: 700;
}

.home-container img {
  width: 100%;
  max-width: 20em;
}
