$header-font: 'Poppins';
$main-font: 'Raleway';
$pallette-one:#47B089;
$pallette-two: #7E7E7E;
$pallette-three: #45C5F5;
$white: #FFF;

html {
  font-size: 16px;
}

main{
  font-family: $main-font;
  background-color:$pallette-two;
}

nav {
  display: flex;
  background-color: $pallette-one;
  font-family: $header-font;
  min-height: 7vh;
  width: 100%;
  padding: .5em 10%;
  font-size: 1.25em;

  a {
    color: $white !important;
    font-size: 1.25em;

    &:hover {
      color: $white;
    }
  }
}

.base-container{
  padding: 0 10%;
}

.home-container{
  height: 93vh;
  padding-top: 5em;
  color: $white;

  h1{
    font-weight: 700;
  }
  
  img{
    width: 100%;
    max-width: 20em;
  }

}



