/*
CSS DRAWINGS s2018
* * * * * * * * * * * * * * * * * *
Full CSS Reset
http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
========================================
Box model reset
========================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
========================================
General
========================================
*/

.background{
    background: white;
    height: auto;
}

.arial{
    font-family: Arial;
}

.title{
    font-family: Arial;
    font-weight: bold;
    font-size: 7.5vw;
    color: black;
}

.container{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box{
    width: 25vw;
    height: 12vh;
    background: black;
}

.container > div {
    color: white;
    font-family: Lato;
    text-align: center; 
    align-items: center;
    line-height: 11vh;
    font-size: 3vw;
    border: 2px solid white;
    box-shadow: 1px 1px 1px black;
}

.containerTwo{
    width: 100%;
    height: 700px;
    border: 7px solid black;
    box-shadow: 1px 1px 1px black;
}

a{
    text-decoration: none;
    color: black;

}

.black{
    color: black;
}

.white{
    color: white;
}

.body-font{
    font-size: 2vw;
    font-family: Karla, Arial;
}

.line{
    height: 15px;
    width: 100%;
    background: black;
    margin-bottom: 2vh;
}

.photo{

    margin-right: 10px;
    height: 40vh;
    width: 20vw;
    float: left;
}

.image-contact{
    margin-top: 10px;
    margin-left: 10px;
    height: 60vh;
    width: 60vw;
    float: right;
    width: 45%; 
    float: right; 
}

.border-space{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

body{
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.height{
    line-height: 110px;
}

.flex{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: row wrap;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-align{
    display: flex;
    align-items: center;
}

.image-size{
    width: 8vw
}

.resume{
    width: 10vw;
    height: auto;
    font-family: Arial;
    font-weight: bold;
    font-size: 2vw;
    color: white;
    background-color: black;
    text-align: center;
}

@media only screen and (max-width: 600px) {

    
}








