/*
CSS DRAWINGS s2018
* * * * * * * * * * * * * * * * * *
Full CSS Reset
http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
========================================
Box model reset
========================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
========================================
General
========================================
*/

body{
    margin-top: 5px;
    height: auto;
}

h1{
    font-weight: bold;
    letter-spacing: 7px;
    font-size: 55px;
    text-align: center;
}

h3{
    font-weight: bold;
    letter-spacing: 7px;
    font-size: 20px;
    text-align: center;
}

p{
    font-size: 18px;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    font-size: 60px;
    letter-spacing: 2px;
}

.height-100{
    height: 100%;
}

.fade{
    -webkit-animation: fadein 5s; 
    -moz-animation: fadein 5s; 
    -ms-animation: fadein 5s; 
    -o-animation: fadein 5s; 
    animation: fadein 5s
}

.line{
    height: 4px;
    width: 100%;
    background-color: black;
    opacity: .7;
}

.Poiret{
    font-family: Poiret One, cursive, arial;
}

.Josefin{
    font-family: Josefin Sans, sans-serif, arial;
}

.gap1{
    margin-bottom: 35px;
}

.gap2{
    margin-bottom: 23vh;
}

.gap3{
    margin-bottom: 80px;
}

.bottom{
    height: 50px;
    width: 100%;
    background-color: #E0E0E0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.bottom p{
    font-size: 15px;
}

.move-left{
    margin-right: 3%;
}

.move-right{
    margin-left: 3%;
}

.center{
    text-align: center;
}

.inline{
    display: inline;
}

.banner1{
    font-size: 70; 
    letter-spacing: 2px;
}

.icon{
    height: 110px;
    width: 110px;
}

.block{
    height: 1px;
    width: 1%;
}

.box{
    height: auto;
    width: 80%;
    background-color: #BCF8FF;
    box-shadow: 5px 5px #E9E9E9;
}

.profile-pic{
    width: 343px;
    height: 480px;
    margin-right: 15px;
    box-shadow: 6px 6px gray;
}

.portion{
    color: #DB5FCC;
}

.content{
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    width: auto;
}

.content h2,p{
    margin-left: 10px;
}

.content p{
    width: auto;
    margin-right: 10px;
    line-height: 20px;
}

.resume{
    width: 180px;
    height: 38px;
    background-color: white;
    border-radius: 10%;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    border: 5px solid #FFA730;
    margin: 0;
    padding: 0;
    text-align: center;
}

.resume p{
    font-size: 37px;
    color: #FFA730;
    margin: 0;
    padding: 0;
}

/*
========================================
Flexbox
========================================
*/

.flex-space{
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: space-between;
}

.flex-space-row{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-center-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-space-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex-start-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.underline{
    text-decoration: underline;
}

/*
========================================
Colors
========================================
*/

.green{
    color: #56F9DA;
}

.purple{
    color: #F956E3;
}

.red{
    color: #FF3D3D;
}

/*
========================================
Grid Testing
========================================
*/

.grid{
    display: grid;
    /*
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(10 10%);
    */
}

/*
========================================
Hover
========================================
*/

h3 a:hover{
    text-decoration: underline;
}

/*
========================================
Animation
========================================
*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*
========================================
Slide Show
========================================
*/

.imageSize{
    width: 1000px; 
    height: 500px; 
}

.scrollerClass{
    width: auto; 
    height: 500px;
    margin: 0 auto;
}

#scroller {
    position: relative;
}
#scroller .innerScrollArea {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#scroller ul {
    padding: 0;
    margin: 0;
    position: relative;
}
#scroller li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
}


/*
========================================
Responsiveness
========================================
*/

@media screen and (max-width: 800px) {

    h2{
        font-size: 40px;
        letter-spacing: 2px;
        margin-top: 10px;
    }

    .icon{
        height: 46px;
        width: 46px;
    }

    .banner1{
        font-size: 40; 
        letter-spacing: 1.5px;
    }

    .profile-pic{
        width: 171px;
        height: 240px;
    }

    .flex-start{
        flex-wrap: wrap;
    }

    .imageSize{
        height: 800px;
    }

    .scrollerClass{
        height: 800px;
    }

    .gap2{
        margin-bottom: 35vh;
    }

    .gap3{
        margin-bottom: 35vh;
    }
}

@media screen and (min-width: 2100px) {
    
    .gap2{
        margin-bottom: 50vh;
    }
    
    .gap3{
        margin-bottom: 50vh;
    }

}










